.deck-container {
  font-family: "Cardo";
  font-size: 2.8em;
  background: #efefef;
}
.deck-container .slide {
  background: #efefef;
}
.deck-container .slide h1,
.deck-container .slide h2{
  font-family: "Roboto Slab";
  color: #2b4959;
}

.deck-container .slide h2 {
  border-bottom-color: #d0dfe8;
}
.deck-container .slide pre {
  border-color: #ccc;
  border-radius:10px;
}
.deck-container pre.prettyprint{
  font-size:0.6em;
  padding:1em;
}
.deck-container .slide code{
  font-family: "Source Code Pro" monospace;
}
.deck-container .slide a{
  font-size:0.8em;
  font-family: "Source Code Pro" monospace;
}
.deck-container .slide blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #ccc;
}
.deck-container .slide blockquote p {
  margin: 0;
}
.deck-container .slide blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}
.deck-container .slide ::-moz-selection {
  background: #c00;
  color: #fff;
}
.deck-container .slide ::selection {
  background: #c00;
  color: #fff;
}
.deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
  color: #c00;
  text-decoration: none;
}
.deck-container .slide a:hover, .deck-container .slide a:focus {
  text-decoration: underline;
}
.deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
  opacity: 0.4;
}
.deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
.deck-container > .slide .deck-child-current {
  opacity: 1;
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #ccc;
  font-family: serif;
}
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #fff;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  background: #c00;
  text-decoration: none;
}
.deck-container .deck-status {
  font-size: 0.6666em;
}
.deck-container.deck-menu .slide {
  background: #eee;
}
.deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
  background: #ddf;
}

.slide ul {
  margin-bottom: 0;
}

/* CUSTOM */
.deck-container .slide .grey > span:not(.ungrey) {
  filter: contrast(70%) grayscale(100%);
  -webkit-filter: contrast(70%) grayscale(100%);
}
.deck-container .slide .ungrey span {
  font-size: larger;
  color: #F0385D; /* dark red */
}
.deck-container .slide .notes {
  display: none;
}
.deck-container .slide .vspace {
  display: block;
  height: 0.5em;
}
.deck-container .slide .nonono {
  color: red;
}
.deck-container .slide a.presenterlink {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
}
.deck-container .slide h2.mini {
  padding-top: 0.2em;
  border: none;
  margin-bottom: 0.2em;
  font-size: 1.2em;
}
